@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font & fond global */
body {
  @apply bg-slate-50 text-slate-900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

/* Enlever le petit triangle moche sur les <summary> */
summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}
