@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style global en CSS normal (pas de @apply) */
body {
  background-color: #f8fafc; /* équivalent de bg-slate-50 */
  color: #020617;           /* équivalent de text-slate-900 */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

/* Enlever le petit triangle des <summary> */
summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}
